@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass-card {
    background-color: rgba(26, 21, 72, 0.7);
    border-width: 1px;
    border-color: rgba(108, 99, 255, 0.2);
    border-radius: 16px;
  }
}
